* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.funcionariosContainer {
    width: 90%;
    margin: auto;
    margin-top: 10vh;
    min-height: 80vh;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
  }