* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    height: 150vh;
    background-image: url("https://images4.alphacoders.com/616/616945.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background-color: #101026;
    position: fixed;
    top: 0;
    width: 100%;
}

header a {
    color: white;
}

.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 34px;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-link {
    transition: 0.5s ease;
}

.nav-link:hover {
    color: #0088d2;
}

.hamburguer {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.icon {
    border-radius: 100%;
    height: 32px;
    width: 32px;
}

.nav-item-user {
    display: flex;
    text-align: center;
    align-items: center;
}

.nav-item-user span {
    margin-left: 1rem;
}

@media (max-width:768px) {
    .hamburguer {
        display: block;
    }

    .hamburguer.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburguer.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburguer.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #101026;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}



.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex p {
    color: white;
    margin: 0px;
    margin-bottom: 10px;
}

.flex h6 {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}